.section {
    display: flex;
    justify-content: center;

    /* align-items: center; */

}

.contacts__container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: none;
}

.contacts__container h2 {
    font-size: 3.2rem;
    line-height: 0.8;

}

@media screen and (max-width: 425px) {
    .section {
        flex-direction: column;
    }
}